.documentation-light,
.documentation-light a {
  font-family: Arial, Helvetica, sans-serif;
}

.documentation-light a:hover {
  color: gray;
}
ul {
  list-style-type: disc;
  list-style-position: inside;
}

.documentation-light code {
  background-color: #2670d0;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
}

.documentation-light .sbdocs-wrapper .sbdocs code,
.documentation-light .sbdocs-wrapper .os-content code {
  background-color: #2670d0;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
}

.documentation-light h1,
.documentation-light h2,
.documentation-light h3,
.documentation-light h4,
.documentation-light h5,
.documentation-light h6 {
  font-weight: bold;
  color: #2670d0;
}

.documentation-light h1 {
  font-size: 2rem;
}
.documentation-light h2 {
  font-size: 1.75rem;
}
.documentation-light h3 {
  font-size: 1.5rem;
}

.documentation-light p,
.documentation-light ul,
.documentation-light li {
  color: black;
}

.documentation-light li a {
  color: black;
}

.documentation-light blockquote,
.documentation-light dl,
.documentation-light dd,
.documentation-light h1,
.documentation-light h2,
.documentation-light h3,
.documentation-light h4,
.documentation-light h5,
.documentation-light h6,
.documentation-light hr,
.documentation-light figure,
.documentation-light p,
.documentation-light pre {
  margin: 20px 0 !important;
}

.documentation-light a {
  text-decoration: underline;
}
